.about {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-bottom: 90px;

  @include desktop-middle {
    padding-left: 65px;
    padding-right: 65px;
    justify-content: center;
  }

  @include tablets {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 70px;
  }

  @include phones {
    padding-left: 17px;
    padding-right: 15px;
    padding-bottom: 65px;
  }
}

.about__wrapper {
  width: 971px;

  @include desktop-middle {
    width: 100%;
  }

  @include phones {
    width: 100%;
  }
}

.about::before {
  position: absolute;
  top: -399px;
  left: -572px;
  content: "";
  display: block;
  background-image: url("../img/big-polygon-grey@1x.png");
  width: 636px;
  height: 717px;

  @include tablets {
    display: none;
  }
}

.about::after {
  position: absolute;
  top: -590px;
  right: 229px;
  content: "";
  display: block;
  background-image: url("../img/big-polygon-grey@1x.png");
  width: 636px;
  height: 739px;
  transform: rotate(180deg);

  @include tablets {
    top: -458px;
    right: -215px;
  }

  @include phones {
    top: -455px;
    right: -334px;
  }
}

.about__more-button {
  display: block;
  text-decoration: none;
  width: 180px;
  margin-top: 41px;
  padding: 13px 5px;

  @include tablets {
    margin-top: 43px;
  }

  @include phones {
    margin-top: 34px;
  }
}

.about img {
  margin-top: 10px;
  margin-right: 55px;

  @include tablets {
    height: 360px;
    width: 140px;
    margin-top: 0;
    margin-right: 118px;
  }

  @include phones {
    display: none;
  }
}

.about h2 {
  margin-top: 0;
  font-family: $base-font;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $grey;
  margin-bottom: 27px;

  @include tablets {
    font-size: 32px;
    line-height: 45px;
  }

  @include phones {
    margin-top: 2px;
    margin-bottom: 18px;
    font-size: 28px;
    line-height: 39px;
  }
}

.about p {
  font-family: $alternative-font;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $grey;

  @include phones {
    margin-bottom: 38px;
  }
}

.about p:last-of-type {
  margin-bottom: 0;
}

.about p:first-of-type {
  margin-top: 0;
}

.about__ellipsis {
  display: none;

  @include tablets {
    display: inline;
  }
}

.about__text-hidden {
  @include tablets {
    display: none;
  }
}
