.feedback {
  width: 574px;
  color: $white;

  @include desktop-middle {
    width: 45%;
  }

  @include tablets {
    width: 594px;
    padding-left: 4px;
  }

  @include phones {
    width: 100%;
    padding-left: 0;
  }
}

.feedback h2 {
  font-family: $base-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin-bottom: 0;

  @include desktop-middle {
    width: 430px;
  }

  @include tablets {
    width: initial;
    font-size: 32px;
    line-height: 45px;
  }

  @include phones {
    font-size: 28px;
    line-height: 39px;
  }
}

.feedback p {
  font-family: $alternative-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 48px;

  @include desktop-middle {
    width: 430px;
  }

  @include tablets {
    width: initial;
    margin-top: 16px;
    margin-bottom: 54px;
  }

  @include phones {
    margin-top: 13px;
    margin-bottom: 25px;
  }
}

.feedback form {
  display: flex;
  flex-wrap: wrap;
}

.feedback label:not(:last-child) {
  display: none;
}

.feedback__field {
  @include phones {
    width: 100%;
  }
}

.feedback__field_name input,
.feedback__field_phone input {
  width: 270px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;

  @include desktop-middle {
    width: 200px;
    height: 50px;
  }

  @include tablets {
    width: 278px;
    height: 49px;
    padding-left: 19px;
    padding-right: 19px;
  }

  @include phones {
    width: 100%;
    height: 52px;
  }
}

.feedback__field_name {
  margin-right: 30px;
  margin-bottom: 43px;

  @include tablets {
    margin-right: 34px;
  }

  @include phones {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

.feedback__field textarea {
  padding: 13px 16px;
  width: 570px;
  height: 154px;
  margin-bottom: 38px;

  @include desktop-middle {
    width: 430px;
  }

  @include tablets {
    width: 590px;
    height: 161px;
    margin-bottom: 43px;
    padding: 12px 18px;
  }

  @include phones {
    width: 100%;
    height: 103px;
    margin-top: 30px;
    margin-bottom: 29px;
  }
}

.feedback__field input,
.feedback__field textarea {
  border: none;
  background-color: $white-opacity;
  font-family: $alternative-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $black;
  appearance: none;
  outline: none;

  &:hover {
    border: 1px solid $white;
  }

  &:focus {
    border: 1px solid white;
  }
}

.feedback__field input::placeholder,
.feedback__field textarea::placeholder {
  font-family: $alternative-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  appearance: none;
}

.feedback__field__field input::-webkit-input-placeholder,
.feedback__field__field textarea::-webkit-input-placeholder {
  font-family: $alternative-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  appearance: none;
}

.feedback__field__field input::-moz-placeholder,
.feedback__field__field textarea::-moz-placeholder {
  font-family: $alternative-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  appearance: none;
}

.feedback button {
  width: 270px;
  cursor: pointer;
  height: 45px;
  letter-spacing: 0.5px;
  margin-right: 71px;
  padding: 10px 0;
  border-radius: 5px;
  font-family: $base-font;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  outline: none;
  border: 1px solid $white;
  background-color: transparent;

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    opacity: 0.3;
  }

  @include desktop-middle {
    width: 175px;
    margin-right: 60px;
  }

  @include tablets {
    width: 282px;
    margin-right: 72px;
  }

  @include phones {
    width: 100%;
    margin-bottom: 22px;
    margin-right: 0;
  }
}

.feedback__field_checkbox {
  position: relative;
  width: 190px;
  margin-top: 6px;
  letter-spacing: 0.5px;

  @include phones {
    padding-left: 32px;
    width: 100%;
  }
}

.feedback__field_checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.feedback__field_checkbox input + label::before {
  position: absolute;
  top: 5px;
  left: -33px;
  content: "";
  display: block;
  border: 1px solid $white;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;

  @include tablets {
    top: 3px;
  }

  @include phones {
    left: 0;
  }
}

.feedback__field_checkbox input:hover + label::before {
  opacity: 0.7;
}

.feedback__field_checkbox input:focus + label::before {
  opacity: 0.7;
}

.feedback__field_checkbox input:checked + label::before {
  background-image: url("../img/checkbox-on.png");
}
