.footer {
  padding-top: 20px;
  padding-bottom: 14px;

  @include tablets {
    padding-top: 9px;
  }
}

.footer__top {
  width: 1420px;
  display: flex;
  padding-top: 35px;
  padding-bottom: 39px;
  margin: 0 auto;

  @include desktop-middle {
    justify-content: space-between;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  @include tablets {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 21px;
  }

  @include phones {
    padding-top: 27px;
    padding-bottom: 0;
  }
}

.footer__left {
  padding-top: 11px;
  margin-right: 207px;
  width: 216px;

  @include desktop-middle {
    margin-right: 40px;
  }

  @include tablets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 0;
    padding-left: 25px;
    padding-right: 22px;
    padding-bottom: 25px;
    border-bottom: 1px solid $grey-opacity-low;
  }

  @include phones {
    flex-direction: column;
    padding-bottom: 53px;
  }
}

.footer__social {
  margin-top: 52px;

  @include tablets {
    margin-top: 0;
    width: 18%;
  }

  @include phones {
    margin-top: 28px;
    width: initial;
  }
}

.footer__center {
  width: 380px;
  margin-right: 278px;

  @include desktop-middle {
    margin-right: 0;
    width: initial;
  }

  @include tablets {
    padding-top: 18px;
    padding-left: 25px;
    margin-right: 142px;
  }

  @include phones {
    width: 100%;
    margin-right: 0;
    padding-left: 14px;
    padding-top: 14px;
    padding-right: 17px;
    border-bottom: 1px solid $grey-opacity-low;
    padding-bottom: 4px;
  }
}

.footer__right {
  @include tablets {
    padding-top: 18px;
    padding-right: 8px;
  }

  @include phones {
    width: 100%;
    padding-top: 14px;
    padding-left: 14px;
    padding-right: 17px;
  }
}

.footer__navigation-list,
.footer__contacts-list {
  list-style: none;
  padding: 0;
  margin-top: 0;

  @include tablets {
    margin-top: 2px;
  }

  @include phones {
    margin-top: 8px;
    margin-bottom: 26px;
    width: 250px;
  }
}

.footer__navigation-list {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-column-gap: 60px;

  @include desktop-middle {
    grid-template-columns: 267px 267px;
    grid-column-gap: 0;
  }

  @include tablets {
    display: flex;
    flex-direction: column;
  }
}

.footer__navigation-parts {
  grid-column: 2;
  grid-row: 1;
}

.footer__navigation-delivery {
  grid-column: 2;
  grid-row: 2;
}

.footer__navigation-contacts {
  grid-column: 2;
  grid-row: 3;
}

.footer__navigation-list a,
.footer__contacts-list li,
.footer__contacts-list a {
  text-decoration: none;
  font-family: $alternative-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $special-black-opacity;
}

.footer__navigation-list a,
.footer__contacts-list a {
  &:hover {
    color: $special-black;
    text-decoration: underline;
  }

  &:focus {
    color: $special-black;
  }
}

.footer h2 {
  font-family: $base-font;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-black;
  margin-bottom: 25px;

  @include tablets {
    letter-spacing: 1px;
  }

  @include phones {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__bottom {
  border-top: 1px solid $grey-opacity-low;
  padding-top: 16px;

  @include tablets {
    padding-top: 20px;
  }

  @include phones {
    padding-top: 29px;
  }
}

.footer__bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1420px;
  position: relative;

  @include desktop-middle {
    width: 100%;
    padding-left: 28px;
    padding-right: 35px;
    justify-content: space-between;
  }

  @include phones {
    flex-direction: column;
    justify-content: initial;
    align-items: center;
  }
}

.footer__bottom span,
.footer__copyright-mobile {
  font-family: $alternative-font;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: $special-black;
  opacity: 0.5;
}

.footer__rights {
  margin-right: 74px;
  letter-spacing: 0.5px;

  @include desktop-middle {
    margin-right: 0;
    margin-left: 0;
  }

  @include tablets {
    display: none;
  }
}

.footer__copyright {
  margin-right: 143px;
  letter-spacing: 0.5px;

  @include desktop-middle {
    margin-right: 0;
  }

  @include tablets {
    display: none;
  }
}

.footer__copyright-mobile {
  display: none;

  @include tablets {
    display: block;
  }

  @include phones {
    margin-top: 23px;
    letter-spacing: 0.5px;
  }
}

.footer__confidential {
  margin-right: 406px;
  letter-spacing: 0.5px;

  @include desktop-middle {
    margin-right: 0;
  }

  @include phones {
    margin-bottom: 20px;
  }
}
