.header {
  background-color: $header-bg;
}

.header__wrapper {
  width: 1408px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  text-decoration: none;
  color: $white;
  font-family: $alternative-font;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}
