.social-icons {
  display: flex;
  justify-content: space-between;
  width: 112px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icons a {
  &:hover {
    opacity: 0.5;
  }

  &:focus {
    opacity: 0.2;
  }
}
