.social-icons {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0;
  margin-left: -16px;
  padding: 0;
  list-style: none;
}

.social-icons li {
  margin-left: 16px;
}

.social-icons a {
  &:hover {
    opacity: 0.5;
  }

  &:focus {
    opacity: 0.2;
  }
}
