// Colors
$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.2);
$white-opacity-middle: rgba(255, 255, 255, 0.8);
$black: #000000;
$special-black:#1b2d37;
$blue: #00b2ff;
$grey-opacity-low: rgba(98, 105, 98, 0.2);
$grey: #666666;
$grey-light: #ebebeb;
$black-opacity: rgba(0, 0, 0, 0.5);

//fonts
$base-font: "Roboto Condensed", "Arial", sans-serif;
$alternative-font: "PT Mono", "Arial", monospace;
